<!-- teleop.launch: launch stage with keyboard teleoperation -->

<launch>
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_tutorial)/worlds/rooms.world" />
    
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>
</launch>